#blog-pager a:hover, .post ol li, .post-body a:visited, .post-meta a:hover:before, .post-meta abbr, find, strike {
	text-decoration: none
}
.SelectAllbutton, find {
	cursor: pointer;
	display: inline-block
}
.post {
	background: #fff;
	border: 1px solid #e5e5e5;
	margin: 15px 0 15px 5px;
	padding: 15px;
	color: #333;
	-webkit-text-size-adjust: 100%;
	font-family: 'Droid Arabic Naskh', cursive, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	box-shadow: 0 0 3px #000
}
.chevronleft:before {
	content: '\f053';
	font-size: 9px;
	line-height: 5px;
	float: right;
	margin-left: 3px
}
.post-body a:link {
	color: #058AFF
}
.post-body a:visited {
	color: #004CFF
}
.post-body h3 a:link, .post-body h3 a:visited {
	color: #fff
}
.post-body h3 a:hover {
	color: #058AFF
}
.post-body a:hover {
	color: #d63922;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s
}
.post h3 {
	background-color: #000;
	border-bottom: 4px solid #FF5E00;
	display: block;
	line-height: 38px;
	color: #FF5E00;
	margin: 20px 0;
	min-height: 40px;
	padding: 0 10px;
	border-radius: 9px 9px 0 0;
	font-size: medium;
	font-family: 'Droid Arabic Kufi', cursive, tahoma, sans-serif;
	font-weight: 700
}
.post h4 {
	color: #000;
	font: 700 15px 'Droid Arabic Kufi', cursive, serif, tahoma, sans-serif;
	text-align: right!important;
	margin: 20px 0 5px
}
.SelectAllbutton, .post ol li:before {
	text-align: center;
	position: absolute
}
.post ol, .post ol li, a strike, strike a {
	font-family: 'Droid Arabic Kufi', tahoma, sans-serif
}
.post h4 a {
	line-height: 23px
}
.post ol {
	counter-reset: li;
	list-style: none;
	font-size: medium;
	padding: 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	margin: 10px 0
}
.post ol ol {
	margin: 0 2em 0 0
}
.post ol li {
	position: relative;
	display: block;
	padding: .4em .8em .4em 2em;
	margin: .5em 2em 0 0;
	background: #ddd;
	color: #444;
	border-radius: .3em;
	transition: all .3s ease-out;
	font-size: smaller;
	line-height: 1.5em
}
.post ol li:hover {
	background: #eee;
	cursor: pointer
}
.post ol li:hover:before {
	transform: rotate(360deg)
}
.post ol li:before {
	content: counter(li);
	counter-increment: li;
	right: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	margin-right: -.9em;
	background: #FA6501;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	font-weight: 700;
	border-radius: 2em;
	transition: all .3s ease-out
}
.language-html:hover>.SelectAllbutton {
	display: inline-block;
	top: 50%;
	transition: all .7s cubic-bezier(.01, .68, .07, 1.22) 0s;
	padding: 2px 5px;
	opacity: .8
}
a strike, strike a {
	background-color: #2ECC3A;
	border-left: solid 1px #2ECC3A;
	box-shadow: inset 0 1px 0 #72CC6C, 0 6px 0 #27AE31;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	font-weight: 700;
	margin: 2px;
	padding: 10px 20px;
	border-radius: 5px;
	text-shadow: -1px 1px 5px #000
}
find, find:hover {
	transition: all .3s cubic-bezier(.4, 0, 1, 1) 0s
}
.post-body a:link strike, .post-body a:visited strike, .post-body strike a:link, .post-body strike a:visited {
	color: #fff
}
.post-body a strike:hover, .post-body strike a:hover {
	color: #524E4E
}
a strike:hover, strike a:hover {
	top: 7px;
	color: #95a5a6;
	background-image: linear-gradient(bottom, #2ca0ca 0, #3eb8e5 100%);
	box-shadow: inset 0 1px 0 #ecf0f1, 0 1px 0 0 #7f8c8d;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
	padding: 10px 30px
}
a strike::before, strike a::before {
	content: '\f06e';
	font-family: FontAwesome;
	margin-left: 10px;
	font-size: 15px
}
a strike::after, strike a::after {
	content: '\f08e';
	font-family: FontAwesome;
	margin-right: 10px;
	font-size: 10px
}
find:hover {
	color: #d63922;
	box-shadow: -1px 1px 2px #000;
	border-radius: 2px
}
find {
	color: #3D7923;
	font-size: 88%;
	line-height: normal;
	padding: 0 2px
}
find:before, findtext .findtext {
	font-size: 83%;
	font-family: 'Droid Arabic Kufi', tahoma, Arial, sans-serif;
	background: #d63922;
	color: #fff;
	padding: 5px 7px;
	border-radius: 10px 10px 0 0;
	position: absolute
}
find:before {
	content: 'نسخ';
	line-height: .7;
	opacity: 0;
	transition: all .3s
}
find:hover:before {
	opacity: 1;
	transition: all .3s;
	margin-top: -20px;
	line-height: .9
}
findtext .findtext {
	content: 'بحث';
	line-height: .7;
	opacity: 0;
	transition: all .3s
}
.SelectAllbutton {
	opacity: 0;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFF;
	font-size: 15px;
	line-height: inherit;
	transition: all .5s;
	right: 94%;
	top: 200%;
	font-family: 'Droid Arabic Kufi', tahoma, sans-serif
}
blockquote.language-html .SelectAllbutton span {
	padding: 9px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: .5s
}
blockquote.language-html .SelectAllbutton span:after {
	content: '\f24d';
	position: absolute;
	opacity: 1;
	top: 0;
	left: 0;
	transition: .5s;
	font-family: fontawesome;
	font-size: 20px
}
blockquote.language-html .SelectAllbutton:hover span {
	padding: 9px
}
.separator img {
	cursor: -webkit-zoom-in;
	cursor: zoom-in
}
.post ul li {
	background: #ddd;
	margin: .5em 0;
	transition: all .3s cubic-bezier(1, .76, .3, 1.43);
	color: #444;
	display: block;
	cursor: pointer;
	border-radius: 6px 15px 15px 6px;
	font-weight: 700;
	line-height: 2em;
	font-family: 'Droid Arabic Kufi', tahoma, sans-serif
}
.post ul li::before, .post ul.x li::before {
	float: right;
	margin: 0 0 5px 4px;
	transition: all .3s ease-out
}
.post ul li::before {
	color: #0497FF;
	content: '\f05d';
	font: 28px fontawesome;
	line-height: 28px
}
.post ul.x li::before {
	color: #4A4A4A;
	content: '\f05c';
	font: 28px fontawesome
}
.post ul.x li:hover:before {
	color: red
}
.post ul li:hover:before {
	color: #00ab03
}
.post ul li:hover {
	background: #eee
}
.post-body {
	line-height: 24px;
	width: auto;
	margin-top: -20px;
}
.posts-feed, .thumbBP {
	width: 200px;
	height: 130px;
	overflow: hidden
}
table.tr-caption-container tbody tr td img{border-radius:5px 5px 0 0;margin-bottom:-6px;}

table.tr-caption-container tbody td.tr-caption {
	background-color: #e0e0e0;
	border-radius: 0 0 5px 5px;
	color: #000;
	border: 0 solid #D2D2D2
}
div.titlepagename h1 {
	font-size: 18px;
	color: #d63922;
	font-weight: 700;
	border-bottom: 1px solid #e5e5e5;
	font-family: 'Droid Arabic Kufi', tahoma, sans-serif
}
.titlepagename .post-meta {
	margin-top: -1.4em;
	margin-bottom: 60px;
	color: #8E8E8E;
	text-align: right;
	font-size: 11px;
	padding: 5px
}
#blog-pager, #boxDownload, #boxView, #loading-FeedPost, .ButtonsDownload, .socialpostshare, a.titlePostbp {
	text-align: center
}
.post-meta a:link, .post-meta a:visited {
	color: #aaa;
	text-decoration: none
}
.post-meta a:hover, .post-meta a:hover:before {
	color: #333
}
.post-meta span.post-author span.fn {
	margin-right: 5px;
	float: left
}
.post-meta span.post-author span, span.post-author span.fn::before {
	font-family: FontAwesome;
	content: '\f007';
	line-height: 23px;
	padding: 1px
}
.post-meta span a.dateHeader-link::before, .post-meta span a.timestamp-link::before {
	padding: 3px;
	content: '\f017';
	float: right;
	font-family: FontAwesome;
	line-height: 23px
}
.post-meta span a.timestamp-link {
	float: right
}
.post-meta span a.dateHeader-link {
	float: right;
	margin-left: 5px
}
.post-meta .location-link {
	float: left
}
.post-meta .location-link::before {
	font-family: FontAwesome;
	content: '\f124';
	float: left;
	padding: 3px;
	line-height: 23px
}
#blog-pager {
	padding: 0;
	margin: 15px
}
#blog-pager .home-link {
	display: none
}
#blog-pager a {
	display: block;
	border: 1px solid #e5e5e5;
	margin-bottom: 15px;
	padding: 4px 12px;
	line-height: 25px;
	color: #404040;
	font-weight: 400;
	z-index: 999
}
#blog-pager a:hover {
	color: #fff;
	background-color: #d63922
}
#blog-pager a.blog-pager-older-link {
	padding: 4px 12px;
	float: left!important
}
#blog-pager a.blog-pager-newer-link {
	float: right!important
}
.feed-links {
	clear: both;
	display: none
}
.posts-feed {
	background-color: #fff;
	box-shadow: -3px 3px 9px #000;
	float: right;
	margin: 6px;
	position: relative
}
.thumbBP img {
	height: 100%;
	width: 100%;
	transition: all .7s ease 0s
}
.thumbBP .socialpostshare a, .titlePosthomebp {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease
}
.thumbBP img:hover {
	transform: scale(1.3)
}
a.titlePostbp {
	display: block;
	font-size: 12px;
	line-height: 16px;
	padding: 0 3px
}
.titlePosthomebp {
	background-color: #eee;
	border-top: 1px solid #B9B5B5;
	bottom: 0;
	font-size: 12px;
	padding: 5px 0;
	position: absolute;
	width: 200px;
	height: 32px;
	margin-bottom: -45px;
	transition: all .3s ease
}
.posts-feed>.thumbp:hover .titlePosthomebp {
	margin-bottom: 0
}
.thumbp {
	padding: 0 0 1px
}
.thumbBP .socialpostshare a {
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	color: #FFF;
	margin: 0 -2px;
	transition: all .3s ease
}
.socialpostshare {
	position: absolute;
	bottom: 100px;
	z-index: 0;
	right: 3px;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}
.posts-feed>.thumbp:hover .socialpostshare {
	position: absolute;
	bottom: 44px;
	z-index: 99;
	text-align: center;
	right: 3px;
	opacity: 1
}
.socialpostshare .facebookshare {
	background-color: #3081D8
}
.socialpostshare .twittershare {
	background-color: #2DAAE1
}
.socialpostshare .google-plusshare {
	background-color: #F63E28
}
.socialpostshare .facebookshare:hover, .socialpostshare .google-plusshare:hover, .socialpostshare .twittershare:hover {
	background-color: #000
}
#mas-navigasifeed, #stylefeed {
	clear: both;
	padding: 15px;
	background: #fff;
	box-shadow: 0 0 1px #000
}
#loading-FeedPost {
	color: #d63922;
	font-size: 25px;
	align-items: center;
	margin: 160px
}
#stylefeed {
	margin: 0 0 15px 5px;
	float: right
}
#mas-navigasifeed {
	margin: 0 0 4px 5px
}
.botsimilar, .previous {
	padding: 8px;
	margin: -5px 5px 0 0;
	box-shadow: 0 0 1px #000;
	line-height: 12px;
	font-size: 12px;
	float: left;
	-webkit-transition: all .7s ease-in-out 0s;
	-moz-transition: all .7s ease-in-out 0s;
	-o-transition: all .7s ease-in-out 0s;
	transition: all .7s ease-in-out 0s
}
a.botsimilar.next {
	background: #5FB501;
	color: #fff
}
a.previous {
	background: red;
	color: #fff
}
a.botsimilar:hover, a.previous:hover {
	background: #000;
	color: #fff
}
.botsimilar.mix, a.botsimilar.similar {
	background: #fff!important;
	color: #000
}
a.botsimilar.mix:hover, a.botsimilar.similar:hover {
	color: red
}
.OtherPost {
	font-size: 19px;
	font-weight: 700;
	line-height: 14px
}
.noactived.next, .noactived.previous {
	display: none
}
.jwlogo {
	margin-bottom: 0!important;
	bottom: 12.2px!important;
	right: 11.6px!important
}
.jwexactfit {
	visibility: visible!important
}
#boxView {
	margin: auto auto 1px;
	max-width: 637px;
	max-height: 40px
}
#boxDownload {
	margin: -3px auto auto;
	max-width: 637px;
	max-height: 40px
}
#boxView .ButtonsDownload {
	border-radius: 5px 5px 0 0
}
#boxDownload .ButtonsDownload {
	border-radius: 0 0 5px 5px
}
.ButtonsDownload {
	display: inline-block;
	background-color: #13a0d8;
	border: none;
	color: #FFF;
	font-size: 15px;
	padding: 5px;
	width: 33%;
	cursor: pointer;
	margin: -3px 1px 0
}
.ButtonsDownload span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: .3s;
	font-size: 12px;
	font-family: 'Droid Arabic Kufi', tahoma, sans-se
}
#boxDownload .ButtonsDownload span:after {
	content: '\f019'
}
#boxView .ButtonsDownload span:after {
	content: '\f144'
}
.ButtonsDownload span:after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	text-decoration: inherit;
	font-size: 19px;
	position: absolute;
	opacity: 0;
	top: 3px;
	left: -60px;
	transition: .3s
}
.But1 span:after {
	color: #FFF
}
.But2 span:after {
	color: #000
}
.But3 span:after {
	color: #c5c5c5
}
.ButtonsDownload:hover span {
	padding-left: 25px
}
.ButtonsDownload:hover span:after {
	opacity: 1;
	left: 0
}
#boxDownload .ButtonsDownload:hover {
	background-color: #13aae6;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5)
}
#boxView .ButtonsDownload:hover {
	background-color: #13aae6;
	box-shadow: -1px -4px 8px 0 rgba(0, 0, 0, .5)
}
.ButtonsDownload:active {
	background-color: #d63922
}
blockquote[class*=' language-'] {
	position: relative;
	background-color: #f3f3f3;
	padding: 10px 10px 10px 0;
	margin: 10px;
	overflow: hidden;
	width: auto;
	max-width: 100%;
	max-height: 400px;
	border-right: 5px solid #d63922;
	left: 0
}
.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
	color: #7D8B99
}
.token.punctuation {
	color: #5F6364
}
.token.boolean, .token.constant, .token.deleted, .token.function-name, .token.number, .token.property, .token.symbol, .token.tag {
	color: #c92c2c
}
.token.attr-name, .token.builtin, .token.char, .token.function, .token.inserted, .token.selector, .token.string {
	color: #2f9c0a
}
.token.entity, .token.operator, .token.url, .token.variable {
	color: #a67f59;
	background: rgba(255, 255, 255, .5)
}
.token.atrule, .token.attr-value, .token.class-name, .token.keyword {
	color: #1990b8
}
.token.important, .token.regex {
	color: #e90
}
.language-css .token.string, .style .token.string {
	color: #a67f59;
	background: rgba(255, 255, 255, .5)
}
.token.important {
	font-weight: 400
}
.token.bold {
	font-weight: 700
}
.token.italic {
	font-style: italic
}
.token.entity {
	cursor: help
}
.namespace {
	opacity: .7
}
@media screen and (max-width:767px) {
	blockquote[class*=' language-']: before, blockquote[class*=' language-']:after {
		bottom: 14px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none
	}
}
.token.cr:before, .token.lf:before, .token.tab:not(:empty):before {
	color: #e0d7d1
}
blockquote[class*=' language-'] code {
	padding-left: .8em;
	direction: ltr
}
blockquote[class*=' language-'][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0
}
blockquote[data-line] code {
	position: relative;
	padding-left: 4em
}
blockquote .line-highlight {
	margin-top: 0
}
@media screen and (max-width:420px) {
	#stylefeed {
	    float: none;
	    width: 99%;
	}
	.SelectAllbutton {
		right: 80%
	}
	#content-wrapper {
		padding: 0;
		width: 99%
	}
	.breadcrumbs {
		margin: 1px;
		width: 98%
	}
	.post-container {
		width: 100%;
		margin: 10px 2px
	}
	#comments, #post-wrapper {
		margin: 10px auto
	}
	#post-wrapper {
		width: 100%;
		max-width: 420px
	}
	.date-outer {
		width: 100%
	}
	.posts-feed, .titlePosthomebp {
		background-color: #000;
		width: 100%
	}
	.posts-feed {
		box-shadow: -3px 3px 9px #000;
		float: none;
		height: 160px;
		margin: 6px 0
	}
	.titlePosthomebp {
		border-top: 0;
		bottom: 0;
		font-size: 12px;
		padding: 5px 0;
		position: absolute;
		height: 32px;
		margin-bottom: 0
	}
	.socialpostshare, .socialpostshare:hover {
		position: absolute;
		bottom: 136px;
		z-index: 1;
		right: 2px;
		opacity: 1;
		text-align: center
	}
	.posts-feed>.thumbp:active .socialpostshare, .posts-feed>.thumbp:hover .socialpostshare {
		bottom: 136px
	}
	.botsimilar, .previous {
		padding: 8px;
		margin: 2px auto;
		box-shadow: 0 0 1px #000;
		width: 100%;
		line-height: 12px;
		font-size: 12px;
		float: right
	}
	.OtherPost {
		font-size: 19px;
		font-weight: 700;
		line-height: 19px;
		margin: 0 95px 10px 0;
		float: right
	}
	#mas-navigasifeed {
		text-align: center;
		margin-bottom: 5px;
		float: right
	}
	.thumbBP .socialpostshare a {
		border: 1px solid #FFF;
		border-right: 0
	}
	.thumbBP {
		width: 100%;
		height: 100%
	}
	#loading-FeedPost {
		margin: 20px 0
	}
	.post-outer>.post:hover .socialpostshare {
		bottom: 136px;
		opacity: 1
	}
}
