
    table#videocodeall {
    display: none;
}
    .boxvideo {
    width: auto;
    text-align: center;

}
    #VAndD{
    
        width: 635px;
    height: 357px;
    
    }
    #btnvideoshowid{
    background: #282828;
    padding-top: 20px;
    margin-top: -10px;
    text-align: center;
}
          

            
 
.btnshowvideo {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #333;
    width: 100px;
    height: 60px;
    line-height: 60px;
    background-color: #222;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    -webkit-transition-duration: 0.4s;
opacity: .5;
    transition-duration: 0.4s;
    background-image: url(https://lh3.googleusercontent.com/-WGD1_4HTr5w/WwI3-HELs2I/AAAAAAAACdA/UPqUdlikd7UlYhqhf7iQ--zhEOIDZLtqwCLcBGAs/s100/logo.png);
}

  .btnshowvideo:hover {

                opacity: 1;
}

  .btnshowvideo:before {
    content: "\f01d";
    font-family: FontAwesome;
    padding: 2px;
    color: #fff;
    font-size: 40px;
opacity: .5;
}
 .btnshowvideo:hover:before {

    color: #d63922;
opacity: 1;
}     

.owl-dots {
    display: none;
}
